.div1
{
    background-color: aqua;
    width: 100px;
    height: 100px;
    
}
.div2
{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}
.div3
{
    background-color: brown;
    width: 100px;
    height: 100px;
}